<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="app2.js"></script>
</head>
<body ng-app="app">
<div class="container" ng-controller="mainCtrl">
    <h2>{{name}}</h2>
    <div ng-controller="childCtrl">
        <h2>{{name}}</h2>
        <p>{{profile}}</p>
        <p>{{mob}}</p>
    </div>
</div>
<div ng-controller="counter">
<h1> Timer : {{time}} Sec</h1>
    <button ng-click="start()">start</button>
    <button ng-click="stop()">stop</button>
</div>
</body>
</html>